<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">

    

<!--
Remy Sharp Shim 
[if lte IE 9] 
-->
<script src="js/timedate.js" type="text/javascript" >
</script> 
<!--[endif]-->
 <link href="css/styles.css" type="text/css" rel= "stylesheet">
 <title>Sherrod Ware WEB320A2 Web page refresher </title>

</head>

<body class="home">
     <header>
        
    
         <a href="index.html">
            <!-- <img id=logo src="images/websitelogomini.jpg" alt="HCPC LOGO">--></a>
             <h1><a href="index.html">WEB APP DEVELOPMENT WEB REFRESHER </a></h1>
             
   <!-- <nav id="primary">
            <ul>
             <li><a class="active" href="index.html">HOME</a></li>
             <li><a href="about.html">ABOUT</a></li>
             <li><a href="caregivers.html">CAREGIVERS</a></li>
             <li><a href="app.html">APPLICATION</a></li>
             <li><a href="gallery.html">GALLERY</a></li>
             <li><a href="contact.html">CONTACT</a></li>
            </ul>
    </nav>-->
        
    </header>
    
    
    
    <div id="wrapper">
              
    <div id="banner">
    
        
           </div> <!--end banner-->
        
    
    
    
    
            <main>
<!--
                <a href="about.html">
                <img   src="images/hcpc1b.jpg" alt="Home Picture">
                </a>
-->
         

                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.This <a href="https://www.dallascowbys.com/" target="_blank">hyperlink</a>  will  open in a new tab Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                

                <!-- creating a button for the time aand date-->
                <script src="js/timedate.js" >
</script> 
                <form>
                    <input type="button" onclick="dislplayDate()" value="Click for time and date"/>
                </form>
<!--
                      <button type="button"
                       onclick="document.getElementById('date_time_button').innerHTML = Date()">
                        Click and see Date and Time.</button>

                        <p id="date_time_button"></p>
-->


                     
                
                
                 
                
                
<!--
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                
-->
                
<!--
                <h2>HOME CARE SERVICES</h2>
                <a href="about.html" title="Click here to visit the About Page!">
                <img class= "right" src="images/hcpc2b.jpg" alt="Health Care Picture">
                </a>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                
                <p class="background">HCPC IS HERE FOR YOU!! HCPC IS HERE FOR YOU!! HCPC IS HERE FOR YOU!!</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
-->
               <a> 

<!--                  <img class="left"  src="images/hcpc3b.jpg" alt="Health Care Picture">-->
                   
                     
              </a>
          
            
            
           </main>
                
        
    
           <aside>
               <a><img class= "left" src="images/hcpc2b.jpg" alt="Health Care Picture">
                </a>
               
<!--
               <h3>Hours of Operation</h3>
               <figure>
               <figcaption>After Hours Are Available..Contact 999-999-999</figcaption>    
               </figure>
               <p>Mon 9am-5pm</p>
               <p>Tue 9am-5pm</p>
               <p>Wed 9am-5pm</p>
               <p>Thu 9am-5pm</p>
               <p>Fri 9am-5pm</p>
               <p>Sat 9am-5pm</p>
               <p>Sun 9am-5pm</p>
-->
             
          </aside>
        
       <footer>
            <ul>
                  <li>Copyright 2020 &copy;</li>
                  <li>All Rights Resereved</li>
                  <li><a href="http://compass.northseattle.edu/~sware/it111/index.html">Web Design by Sherrod</a></li>
                                    
                  
                  
              </ul>
                
    
                
    
       </footer>

    
  </div> <!--end wrapper --> 
    
    <p class="valid"><a href="https://validator.w3.org/nu/?showsource=yes&doc=http%3A%2F%2Fcompass.northseattle.edu%2F~sware%2Fit111%2Ftemplate%2Findex.html"><img src="images/html5.png" alt="HTML5 logo" ></a>
    </p>
</body>
</html>